## group modules

In [8]:
import numpy as np
import pandas as pd
import os

In [9]:
cwd = os.getcwd()
PATH_DATA = os.path.join(cwd, 'data_celular.csv')

In [10]:
data = pd.read_csv(PATH_DATA, 
                  header = 0, 
                  index_col = 0, 
                  names = ['Indice', 'Fecha', 'Duracion', 'Item', 'Mes', 'Red', 'Tipo_red'], 
                  parse_dates = ['Fecha'])
data.head()

                     Fecha  Duracion  Item      Mes       Red Tipo_red
Indice
0      2014-10-15 06:58:00    34.429  data  2014-11      data     data
1      2014-10-15 06:58:00    13.000  call  2014-11  Vodafone   mobile
2      2014-10-15 14:46:00    23.000  call  2014-11    Meteor   mobile
3      2014-10-15 14:48:00     4.000  call  2014-11     Tesco   mobile
4      2014-10-15 17:27:00     4.000  call  2014-11     Tesco   mobile

In [12]:
data['Item'].count()

830

In [16]:
data[data['Item'] == 'call']['Duracion'].sum()

92321.0

In [23]:
data['Red'].nunique()

9

In [28]:
data.groupby('Mes').groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [31]:
 data.groupby('Mes').sum()

          Duracion
Mes
2014-11  26639.441
2014-12  14641.870
2015-01  18223.299
2015-02  15522.299
2015-03  22750.441

In [54]:
%matplotlib notebook

info = data.groupby(by = ['Mes', 'Item'])['Duracion'].count()
info['2014-11']

Item
call    107
data     29
sms      94
Name: Duracion, dtype: int64