In [1]:
import sqlite3 as sql

In [2]:
conexion = sql.connect("ejemplo.db")

In [3]:
conexion

In [4]:
conexion = sql.connect('ejemplo.db')

cursor = conexion.cursor()

conexion.close()

### Crear una BD

In [5]:
conexion = sql.connect("ejemplo.db")
cursor = conexion.cursor()

# Creamos una tabla llamada Estudiantes
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

### Insertar con INTO

In [6]:
conexion = sql.connect("ejemplo.db")
cursor = conexion.cursor()

# Insertamos un registro en la tabla
cursor.execute("INSERT INTO estudiantes VALUES ('bluenote@googlemail.com','Artes','Sharon', 27)")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

### SELECT * FROM

In [7]:
conexion = sql.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("SELECT * FROM estudiantes")
usuarios = cursor.fetchone()
print(usuarios)

conexion.close()

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)

### Ingresar y leer varios registros al mismo tiempo

In [8]:
conexion = sql.connect('ejemplo.db')
cursor = conexion.cursor()

usuarios = [
    ('parrilla@vip.com', 'Arquitec', 'Giulia', 26), 
    ('lollipop@vip.com', 'Contaduría', 'Rosana', 60), 
    ('solfer@vip.com', 'Estadística', 'Sol', 30),
    ('carlitos@googlemail.com', 'Computación', 'Carlos', 60),
    ('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21)
]

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)
conexion.commit()
conexion.close()

print("hey")

In [9]:
conexion = sql.connect('ejemplo.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM estudiantes")
usuarios = cursor.fetchall()

for u in usuarios: 
    print(u)
conexion.close()

('bluenote@googlemail.com', 'Artes', 'Sharon', 27)
('parrilla@vip.com', 'Arquitec', 'Giulia', 26)
('lollipop@vip.com', 'Contaduría', 'Rosana', 60)
('solfer@vip.com', 'Estadística', 'Sol', 30)
('carlitos@googlemail.com', 'Computación', 'Carlos', 60)
('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21)

## Leer un CSV e insertarlo en BD

In [27]:
import csv
import os

In [30]:
cwd = os.getcwd()
DB_PATH = os.path.join(cwd, "ejemplo.db")
TXT_PATH = os.path.join(cwd, "datos_db.txt")

In [31]:
conexion = sql.connect(f"{PATH}")
cursor = conexion.cursor()

#file = open("ejemplo.txt", "w") 
#file.close()

file = open(f"{TXT_PATH}")
filas = csv.reader(file)
cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", filas)

cursor.execute("SELECT * FROM estudiantes")
print(cursor.fetchall())

conexion.commit()
conexion.close()

[('bluenote@googlemail.com', 'Artes', 'Sharon', 27), ('parrilla@vip.com', 'Arquitec', 'Giulia', 26), ('lollipop@vip.com', 'Contaduría', 'Rosana', 60), ('solfer@vip.com', 'Estadística', 'Sol', 30), ('carlitos@googlemail.com', 'Computación', 'Carlos', 60), ('imprentadetata@vip.com', 'Periodismo', 'Luciano', 21), ('paella@vip.com', 'Medicina', 'Giuliana', 27), ('crimewave@vip.com', 'Derecho', 'Alicia', 20), ('prince@orange.com', 'Ingenieria', 'William', 24), ('elrisortdewelini@vip.com', 'Nutrición', 'Chefsito', 25), ('planb@vip.com', 'Artes', 'Chencho', 30), ('channel@boyz.com', 'Letras', 'Frank', 32), ('vinos@aouju.com', 'Nutrición', 'Eugenia', 23)]